{% extends 'base.html' %} 

{% block content %}
<div class="container mx-auto p-4 md:p-8 grid grid-cols-1 md:grid-cols-2 gap-4">
  {% if user.is_authenticated %}
  <div class="rounded border border-gray-200 p-4 flex flex-col gap-y-3">
    <h1 class="font-bold text-xl font-['Niramit']">Tu Equipo</h1>
    {% for employee in employees_in_team %}
    <div class="flex items-center gap-x-3">
      <span
        class="rounded-full w-10 h-10 bg-indigo-300 flex items-center justify-center"
        >{{employee.user.first_name|slice:":1"}}{{employee.user.last_name|slice:":1"}}</span
      >
      <div>
        <p>{{employee.user.first_name}} {{employee.user.last_name}}</p>
        <p>{{employee.role}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="rounded border border-gray-200 p-4 flex flex-col gap-y-3">
    <h1 class="font-bold text-xl font-['Niramit'] mb-3">Fuera de la oficina</h1>
    {% if employees_out_of_office %}
      {% for employee in employees_out_of_office %}
        <div class="flex items-center justify-between">
          <p>{{employee.user.first_name}} {{employee.user.last_name}}</p>
          <span class="rounded-md bg-gray-200 text-center text-sm color-white px-3 py-1">Vacaciones</span>
        </div>
      {% endfor %}
    {% else %}
      <h2>Ninguno</h2>
    {% endif %}
  </div>

  
  <div class="rounded border border-gray-200 p-4 flex flex-col gap-y-3">
    <h1 class="font-bold text-xl font-['Niramit'] mb-3">Próximos Cumpleaños</h1>
    {% if birthdays_this_month %}
      {% for birthday in birthdays_this_month %}
      <h1><i class="fa-regular fa-calendar mr-2"></i>{{birthday.user.first_name}} {{birthday.user.last_name}} - {{birthday.birthdate|date:"d/m/Y"}}</h1>
      {% endfor %}
    {% else %}
    <h1>Nokas</h1>
    {% endif %}
  </div>

  {% if available_days %}
  <div class="rounded border border-gray-200 p-4 flex flex-col gap-y-3">
    <h1 class="font-bold text-xl font-['Niramit'] mb-3">Días de Vacaciones Disponibles</h1>
    <p>Tienes {{available_days}} días disponibles de vacaciones</p>
  </div>
  {% endif %} 

  {% else %}
    <div class="col-md-6 offset-md-3">{% include 'login_form.html' %}</div>
  {% endif %}
</div>
{% endblock %}
