{% extends 'base.html' %} 

{% block content %}
<div class="mt-3">
  {% if user.is_authenticated %}
  <h1>Tu equipo</h1>
  <div class="d-flex gap-3">
    {% for employee in employees_in_team %}
    <span
      class="d-flex align-items-center justify-content-center rounded-circle bg-primary text-white avatar"
      >{{employee.user.first_name|slice:":1"}}{{employee.user.last_name|slice:":1"}}</span
    >
    {% endfor %}
  </div>
  {% else %}
  <div class="col-md-6 offset-md-3">{% include 'login_form.html' %}</div>
  {% endif %}
</div>
{% endblock %}
